.movie-view {
  background-color: rgb(252, 252, 252);
  padding-top: 12px;
}
.movie-poster {
  margin-bottom: 12px;
}

.movie-title {
  font-size: 36px;
  margin-bottom: 6px;
}

.label {
  font-weight: bold;
}

.paragraph {
  margin-bottom: 6px;
}

.button {
  margin: 24px 0px 24px;
}
