.login-view{  
  padding: 36px 36px 36px 36px;
  margin-top: 24px;
}

.login-title{
  font-size: 32px;
}

.login-view__label{
  margin-top: 12px;
}

.login-view__button {
  margin-top: 12px;
}

.register-text{
  margin-top: 24px;
  font-weight: bold;
}